.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 100px;
}

.overlapping-text {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 10px;
  display: inline-block;
  color: var(--font-main-color);
}

@media (max-width: 768px) {
  .overlapping-text {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    padding: 5px;
    color: var(--font-main-color);
  }
}

.main-colored-text {
  color: var(--font-secondary-color);
}

.hero-image {
  height: 500px;
  max-width: 100%;
  margin-left: auto;
  object-fit: fill;
  border-radius: 10px;
  filter: var(--image-filter);
}

.subtitle {
  font-size: 24px;
  color: var(--font-secondary-color);
}

.description {
  max-width: 400px;
  color: var(--font-main-color);
}

.download {
  padding: 10px 20px;
  border: 2px solid var(--font-secondary-color);
  color: var(--font-secondary-color);
  border-radius: 60px;
  background-color: transparent;
  font-weight: bold;
  transition: 0.3s;
  max-width: fit-content;
}

.download:hover {
  background-color: var(--font-secondary-color);
  color: #eee;
}
