:root {
  --main-color: #f7f7f7;
  --secondary-color: #ffffff;
  --font-main-color: #1c1c1c;
  --font-secondary-color: #ff4c33;
  --nav-bar-background-color: rgba(255, 255, 255, 0.8);
  --image-filter: none;
}

[data-theme="dark"] {
  --main-color: #121212;
  --secondary-color: #090909;
  --font-main-color: #efefef;
  --font-secondary-color: #91e019;
  --nav-bar-background-color: rgba(0, 0, 0, 0.8);
  --image-filter: grayscale(100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

body {
  background: linear-gradient(
    to right,
    var(--main-color) 70%,
    var(--secondary-color) 30%
  );
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-header-title {
  color: var(--font-main-color);
  font-weight: bold;
}

.colored-text {
  color: var(--font-secondary-color);
  font-weight: bold;
}

.colored-description {
  color: var(--font-main-color);
  word-wrap: break-word;
}
