:root {
  --main-color: #f7f7f7;
  --secondary-color: #ffffff;
  --font-main-color: #1c1c1c;
  --font-secondary-color: #ff4c33;
}

[data-theme="dark"] {
  --main-color: #121212;
  --secondary-color: #090909;
  --font-main-color: #efefef;
  --font-secondary-color: #91e019;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    var(--main-color) 70%,
    var(--secondary-color) 30%
  );
  min-height: 100vh;
}
